
<!doctype html>
<html 
      lang="en"
      dir="ltr">
  <head>
    <meta name="google-signin-client-id" content="721724668570-nbkv1cfusk7kk4eni4pjvepaus73b13t.apps.googleusercontent.com">
    <meta name="google-signin-scope"
          content="profile email">
    <meta property="og:site_name" content="Android Developers">
    <meta property="og:type" content="website"><meta name="theme-color" content="#3ddc84"><meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/_pwa/android/manifest.json"
          crossorigin="use-credentials">
    <link rel="preconnect" href="//www.gstatic.cn" crossorigin>
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="//fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="//apis.google.com" crossorigin>
    <link rel="preconnect" href="//www.google-analytics.com" crossorigin><link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700&display=swap">
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Material+Icons&display=block"><link rel="stylesheet" href="https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android/css/app.css">
      <link rel="shortcut icon" href="https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android/images/favicon.png">
    <link rel="apple-touch-icon" href="https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android/images/touchicon-180.png"><link rel="canonical" href="https://developer.android.google.cn/about">
      

<title>Android Platform &nbsp;|&nbsp; Android Developers</title>

<meta property="og:title" content="Android Platform &nbsp;|&nbsp; Android Developers"><meta name="description" content="&lt;!-- hide description --&gt;">
  <meta property="og:description" content="&lt;!-- hide description --&gt;"><meta name="description"
          
          content="Android powers billions of mobile devices in more than 190 countries around the world. It&#39;s the largest installed base of any mobile platform and growing fast—every day another million users power up their Android devices for the first…
"><meta property="og:description" content="Android powers billions of mobile devices in more than 190 countries around the world. It&#39;s the largest installed base of any mobile platform and growing fast—every day another million users power up their Android devices for the first…
"><meta property="og:url" content="https://developer.android.google.cn/about"><meta property="og:image" content="https://developer.android.google.cn/images/social/android-developers.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="675"><meta property="og:locale" content="en"><meta name="twitter:card" content="summary_large_image">
    </head>
  <body class="dac-landing-page"
        template="landing"
        theme="android-theme"
        type="article"
        
        layout="full"
        block-apix
        
        
        pending>
    <devsite-progress type="indeterminate" id="app-progress"></devsite-progress>
  
    <section class="devsite-wrapper"><devsite-header>
  
    


























<div class="devsite-header--inner nocontent">
  <div class="devsite-top-logo-row-wrapper-wrapper">
    <div class="devsite-top-logo-row-wrapper">
      <div class="devsite-top-logo-row">
        <button type="button" id="devsite-hamburger-menu"
          class="devsite-header-icon-button button-flat material-icons gc-analytics-event"
          data-category="Site-Wide Custom Events"
          data-label="Navigation menu button"
          visually-hidden
          aria-label="Open menu">
        </button>
        <div class="devsite-product-name-wrapper">

  <a href="/" class="devsite-site-logo-link gc-analytics-event"
   data-category="Site-Wide Custom Events" data-label="Site logo" track-type="globalNav"
   track-name="androidDevelopers" track-metadata-position="nav"
   track-metadata-eventDetail="nav">

  <img src="https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android/images/lockup.svg" class="devsite-site-logo"
       alt="Android Developers">

</a>



  
  
  <span class="devsite-product-name">
    <ul class="devsite-breadcrumb-list"
  >
  
  <li class="devsite-breadcrumb-item
             ">
    
    
    
      
      
    
  </li>
  
</ul>
  </span>

</div>
        <div class="devsite-top-logo-row-middle">
          <div class="devsite-header-upper-tabs">
            
              
              
  <devsite-tabs class="upper-tabs">

    <nav class="devsite-tabs-wrapper" aria-label="Upper tabs">
      
        
          <tab  active>
            <a href="https://developer.android.google.cn/about"
   class="gc-analytics-event "
   track-type="nav"
   track-name="platform"
   track-metadata-eventdetail="https://developer.android.google.cn/about"
   track-metadata-position="nav - platform"
   track-metadata-module="primary nav"
   aria-label="Platform, selected" 
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Platform"
   >
  Platform
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/studio"
   class="gc-analytics-event "
   track-type="nav"
   track-name="android studio"
   track-metadata-eventdetail="https://developer.android.google.cn/studio"
   track-metadata-position="nav - android studio"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Android Studio"
   >
  Android Studio
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/distribute"
   class="gc-analytics-event "
   track-type="nav"
   track-name="google play"
   track-metadata-eventdetail="https://developer.android.google.cn/distribute"
   track-metadata-position="nav - google play"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Google Play"
   >
  Google Play
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/jetpack"
   class="gc-analytics-event "
   track-type="nav"
   track-name="jetpack"
   track-metadata-eventdetail="https://developer.android.google.cn/jetpack"
   track-metadata-position="nav - jetpack"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Jetpack"
   >
  Jetpack
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/kotlin"
   class="gc-analytics-event "
   track-type="nav"
   track-name="kotlin"
   track-metadata-eventdetail="https://developer.android.google.cn/kotlin"
   track-metadata-position="nav - kotlin"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Kotlin"
   >
  Kotlin
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/docs"
   class="gc-analytics-event "
   track-type="nav"
   track-name="docs"
   track-metadata-eventdetail="https://developer.android.google.cn/docs"
   track-metadata-position="nav - docs"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Docs"
   >
  Docs
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/games"
   class="gc-analytics-event "
   track-type="nav"
   track-name="games"
   track-metadata-eventdetail="https://developer.android.google.cn/games"
   track-metadata-position="nav - games"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Games"
   >
  Games
</a>

          </tab>
        
      
    </nav>

  </devsite-tabs>

            
           </div>
          
<devsite-search
    aria-expanded="false"
    aria-haspopup="listbox"
    
    
    enable-suggestions
      
    
    project-name="Android Developers"
    tenant-name="Android Developers"
    
    
    
    
    
    role="combobox">
  <form class="devsite-search-form" action="https://developer.android.google.cn/s/results" method="GET">
    <div class="devsite-search-container">
      <div class="devsite-searchbox">
        <input
          aria-activedescendant=""
          aria-autocomplete="list"
          
          aria-label="Search"
          aria-haspopup="false"
          aria-multiline="false"
          aria-label="Search box"
          autocomplete="off"
          class="devsite-search-field devsite-search-query"
          name="q"
          
          placeholder="Search"
          role="searchbox"
          type="text"
          value=""
          >
        <div class="devsite-search-image material-icons" aria-hidden="true"></div>
      </div>
      <button type="button"
              search-open
              class="devsite-search-button devsite-header-icon-button button-flat material-icons"
              
              aria-label="Open search"></button>
    </div>
  </form>
  <button type="button"
          search-close
          class="devsite-search-button devsite-header-icon-button button-flat material-icons"
          
          aria-label="Close search"></button>
</devsite-search>

        </div>

        

        

        
<devsite-language-selector>
  <devsite-select class="devsite-language-selector-menu">
    
    <select aria-label="Select your language preference."
            class="devsite-language-selector-select"
            name="language"
            track-name="click"
            track-type="languageSelector">
    
    
      <option value="en"
              lang="en"
            
              selected="selected"
            >
        English
      </option>
    
      <option value="id"
              lang="id"
            >
        Bahasa Indonesia
      </option>
    
      <option value="de"
              lang="de"
            >
        Deutsch
      </option>
    
      <option value="es"
              lang="es"
            >
        Español
      </option>
    
      <option value="es_419"
              lang="es_419"
            >
        Español – América Latina
      </option>
    
      <option value="fr"
              lang="fr"
            >
        Français
      </option>
    
      <option value="pt_br"
              lang="pt_br"
            >
        Português – Brasil
      </option>
    
      <option value="vi"
              lang="vi"
            >
        Tiếng Việt
      </option>
    
      <option value="tr"
              lang="tr"
            >
        Türkçe
      </option>
    
      <option value="ru"
              lang="ru"
            >
        Русский
      </option>
    
      <option value="th"
              lang="th"
            >
        ภาษาไทย
      </option>
    
      <option value="zh_cn"
              lang="zh_cn"
            >
        中文 – 简体
      </option>
    
      <option value="zh_tw"
              lang="zh_tw"
            >
        中文 – 繁體
      </option>
    
      <option value="ja"
              lang="ja"
            >
        日本語
      </option>
    
      <option value="ko"
              lang="ko"
            >
        한국어
      </option>
    
    </select>
  </devsite-select>
</devsite-language-selector>


        

        
      </div>
    </div>
  </div>



  <div class="devsite-collapsible-section
    ">
    <div class="devsite-header-background">
      
        
          <div class="devsite-product-id-row"
           >
            <div class="devsite-product-description-row">
              
                
                  
                  
                  <ul class="devsite-breadcrumb-list"
  >
  
  <li class="devsite-breadcrumb-item
             ">
    
    
    
      
  <a href="https://developer.android.google.cn/about"
      
        class="devsite-breadcrumb-link gc-analytics-event"
      
        data-category="Site-Wide Custom Events"
      
        data-label="Lower Header"
      
        data-value="1"
      
        track-type="globalNav"
      
        track-name="breadcrumb"
      
        track-metadata-position="1"
      
        track-metadata-eventdetail=""
      
    >
    
        Platform
      
  </a>
  
    
  </li>
  
</ul>
                
              
              
                
  <div class="devsite-product-description"><!-- hide description --></div>
  
              
            </div>
            
          </div>
          
        
      
      
        <div class="devsite-doc-set-nav-row">
          
          
            
            
  <devsite-tabs class="lower-tabs">

    <nav class="devsite-tabs-wrapper" aria-label="Lower tabs">
      
        
          <tab  active>
            <a href="https://developer.android.google.cn/about"
   class="gc-analytics-event "
   track-type="nav"
   track-name="overview"
   track-metadata-eventdetail="https://developer.android.google.cn/about"
   track-metadata-position="nav - overview"
   track-metadata-module="primary nav"
   aria-label="Overview, selected" 
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Overview"
   >
  Overview
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/about/versions/12"
   class="gc-analytics-event "
   track-type="nav"
   track-name="releases"
   track-metadata-eventdetail="https://developer.android.google.cn/about/versions/12"
   track-metadata-position="nav - releases"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Releases"
   >
  Releases
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/tv"
   class="gc-analytics-event "
   track-type="nav"
   track-name="devices"
   track-metadata-eventdetail="https://developer.android.google.cn/tv"
   track-metadata-position="nav - devices"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Devices"
   >
  Devices
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/wear"
   class="gc-analytics-event "
   track-type="nav"
   track-name="wear"
   track-metadata-eventdetail="https://developer.android.google.cn/wear"
   track-metadata-position="nav - wear"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Wear"
   >
  Wear
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/guide/platform"
   class="gc-analytics-event "
   track-type="nav"
   track-name="technology"
   track-metadata-eventdetail="https://developer.android.google.cn/guide/platform"
   track-metadata-position="nav - technology"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Technology"
   >
  Technology
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/large-screens"
   class="gc-analytics-event "
   track-type="nav"
   track-name="large screens"
   track-metadata-eventdetail="https://developer.android.google.cn/large-screens"
   track-metadata-position="nav - large screens"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Large Screens"
   >
  Large Screens
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/ml"
   class="gc-analytics-event "
   track-type="nav"
   track-name="machine learning"
   track-metadata-eventdetail="https://developer.android.google.cn/ml"
   track-metadata-position="nav - machine learning"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Machine Learning"
   >
  Machine Learning
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/privacy"
   class="gc-analytics-event "
   track-type="nav"
   track-name="privacy"
   track-metadata-eventdetail="https://developer.android.google.cn/privacy"
   track-metadata-position="nav - privacy"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Privacy"
   >
  Privacy
</a>

          </tab>
        
      
        
          <tab  >
            <a href="https://developer.android.google.cn/training/connectivity/5g"
   class="gc-analytics-event "
   track-type="nav"
   track-name="android 5g"
   track-metadata-eventdetail="https://developer.android.google.cn/training/connectivity/5g"
   track-metadata-position="nav - android 5g"
   track-metadata-module="primary nav"
   
   
     data-category="Site-Wide Custom Events"
   
     data-label="Tab: Android 5G"
   >
  Android 5G
</a>

          </tab>
        
      
    </nav>

  </devsite-tabs>

          
          
        </div>
      
    </div>
  </div>

</div>



  

  
</devsite-header>
      <devsite-book-nav scrollbars hidden>
        
          


























<nav class="devsite-book-nav devsite-nav nocontent"
     aria-label="Side menu">
  <div class="devsite-mobile-header">
    <button type="button"
            id="devsite-close-nav"
            class="devsite-header-icon-button button-flat material-icons gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Close navigation"
            aria-label="Close navigation">
    </button>
    <div class="devsite-product-name-wrapper">

  <a href="/" class="devsite-site-logo-link gc-analytics-event"
   data-category="Site-Wide Custom Events" data-label="Site logo" track-type="globalNav"
   track-name="androidDevelopers" track-metadata-position="nav"
   track-metadata-eventDetail="nav">

  <img src="https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android/images/lockup.svg" class="devsite-site-logo" alt="Android Developers">

</a>


  
      <span class="devsite-product-name">
        
        
        <ul class="devsite-breadcrumb-list"
  >
  
  <li class="devsite-breadcrumb-item
             ">
    
    
    
      
      
    
  </li>
  
</ul>
      </span>
    

</div>
  </div>

  <div class="devsite-book-nav-wrapper">
    <div class="devsite-mobile-nav-top">
      
        <ul class="devsite-nav-list">
          
            <li class="devsite-nav-item">
              
  
  <a href="/about"
    
       class="devsite-nav-title gc-analytics-event
              
              devsite-nav-active"
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Platform"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="platform">
  
    <span class="devsite-nav-text" tooltip >
      Platform
   </span>
    
  
  </a>
  

  
              
                <ul class="devsite-nav-responsive-tabs">
                  
                    
                    
                    
                    <li class="devsite-nav-item">
                      
  
  <a href="/about"
    
       class="devsite-nav-title gc-analytics-event
              
              devsite-nav-active"
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Overview"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="overview">
  
    <span class="devsite-nav-text" tooltip >
      Overview
   </span>
    
  
  </a>
  

  
                    </li>
                  
                    
                    
                    
                    <li class="devsite-nav-item">
                      
  
  <a href="/about/versions/12"
    
       class="devsite-nav-title gc-analytics-event
              devsite-nav-has-children
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Releases"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="releases">
  
    <span class="devsite-nav-text" tooltip >
      Releases
   </span>
    
    <span class="devsite-nav-icon material-icons" data-icon="forward"
          >
    </span>
    
  
  </a>
  

  
                    </li>
                  
                    
                    
                    
                    <li class="devsite-nav-item">
                      
  
  <a href="/tv"
    
       class="devsite-nav-title gc-analytics-event
              devsite-nav-has-children
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Devices"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="devices">
  
    <span class="devsite-nav-text" tooltip >
      Devices
   </span>
    
    <span class="devsite-nav-icon material-icons" data-icon="forward"
          >
    </span>
    
  
  </a>
  

  
                    </li>
                  
                    
                    
                    
                    <li class="devsite-nav-item">
                      
  
  <a href="/wear"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Wear"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="wear">
  
    <span class="devsite-nav-text" tooltip >
      Wear
   </span>
    
  
  </a>
  

  
                    </li>
                  
                    
                    
                    
                    <li class="devsite-nav-item">
                      
  
  <a href="/guide/platform"
    
       class="devsite-nav-title gc-analytics-event
              devsite-nav-has-children
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Technology"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="technology">
  
    <span class="devsite-nav-text" tooltip >
      Technology
   </span>
    
    <span class="devsite-nav-icon material-icons" data-icon="forward"
          >
    </span>
    
  
  </a>
  

  
                    </li>
                  
                    
                    
                    
                    <li class="devsite-nav-item">
                      
  
  <a href="/large-screens"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Large Screens"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="largeScreens">
  
    <span class="devsite-nav-text" tooltip >
      Large Screens
   </span>
    
  
  </a>
  

  
                    </li>
                  
                    
                    
                    
                    <li class="devsite-nav-item">
                      
  
  <a href="/ml"
    
       class="devsite-nav-title gc-analytics-event
              devsite-nav-has-children
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Machine Learning"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="machineLearning">
  
    <span class="devsite-nav-text" tooltip >
      Machine Learning
   </span>
    
    <span class="devsite-nav-icon material-icons" data-icon="forward"
          >
    </span>
    
  
  </a>
  

  
                    </li>
                  
                    
                    
                    
                    <li class="devsite-nav-item">
                      
  
  <a href="/privacy"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Privacy"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="privacy">
  
    <span class="devsite-nav-text" tooltip >
      Privacy
   </span>
    
  
  </a>
  

  
                    </li>
                  
                    
                    
                    
                    <li class="devsite-nav-item">
                      
  
  <a href="/training/connectivity/5g"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Android 5G"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="android5g">
  
    <span class="devsite-nav-text" tooltip >
      Android 5G
   </span>
    
  
  </a>
  

  
                    </li>
                  
                </ul>
              
            </li>
          
            <li class="devsite-nav-item">
              
  
  <a href="/studio"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Android Studio"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="androidStudio">
  
    <span class="devsite-nav-text" tooltip >
      Android Studio
   </span>
    
  
  </a>
  

  
              
            </li>
          
            <li class="devsite-nav-item">
              
  
  <a href="/distribute"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Google Play"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="googlePlay">
  
    <span class="devsite-nav-text" tooltip >
      Google Play
   </span>
    
  
  </a>
  

  
              
            </li>
          
            <li class="devsite-nav-item">
              
  
  <a href="/jetpack"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Jetpack"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="jetpack">
  
    <span class="devsite-nav-text" tooltip >
      Jetpack
   </span>
    
  
  </a>
  

  
              
            </li>
          
            <li class="devsite-nav-item">
              
  
  <a href="/kotlin"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Kotlin"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="kotlin">
  
    <span class="devsite-nav-text" tooltip >
      Kotlin
   </span>
    
  
  </a>
  

  
              
            </li>
          
            <li class="devsite-nav-item">
              
  
  <a href="/docs"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Docs"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="docs">
  
    <span class="devsite-nav-text" tooltip >
      Docs
   </span>
    
  
  </a>
  

  
              
            </li>
          
            <li class="devsite-nav-item">
              
  
  <a href="/games"
    
       class="devsite-nav-title gc-analytics-event
              
              "
    

    
     data-category="Site-Wide Custom Events"
     data-label="Responsive Tab: Games"
     track-type="globalNav"
     track-metadata-eventDetail="globalMenu"
     track-metadata-position="nav"
     track-name="games">
  
    <span class="devsite-nav-text" tooltip >
      Games
   </span>
    
  
  </a>
  

  
              
            </li>
          
          
          
        </ul>
      
    </div>
    
  </div>
</nav>
        
      </devsite-book-nav>
      <section id="gc-wrapper">
        <main role="main" class="devsite-main-content"
            
            >
          
          <div class="devsite-sidebar">
            <div class="sidebar-content">
              <devsite-toc class="devsite-nav"
                           role="navigation"
                           aria-label="On this page"
                           depth="2"
                           scrollbars
                disabled></devsite-toc>
              <devsite-recommendations-sidebar class="nocontent devsite-nav">
              </devsite-recommendations-sidebar>
            </div>
          </div>
          <devsite-content>
            
              

















<article class="devsite-article">
  
  
  

  <div class="devsite-article-meta nocontent" role="navigation">
    
    
    <ul class="devsite-breadcrumb-list"
  
    aria-label="Breadcrumb">
  
  <li class="devsite-breadcrumb-item
             ">
    
    
    
      
  <a href="https://developer.android.google.cn/"
      
        class="devsite-breadcrumb-link gc-analytics-event"
      
        data-category="Site-Wide Custom Events"
      
        data-label="Breadcrumbs"
      
        data-value="1"
      
        track-type="globalNav"
      
        track-name="breadcrumb"
      
        track-metadata-position="1"
      
        track-metadata-eventdetail="Android Developers"
      
    >
    
        Android Developers
      
  </a>
  
    
  </li>
  
  <li class="devsite-breadcrumb-item
             ">
    
      
      <div class="devsite-breadcrumb-guillemet material-icons" aria-hidden="true"></div>
    
    
    
      
  <a href="https://developer.android.google.cn/about"
      
        class="devsite-breadcrumb-link gc-analytics-event"
      
        data-category="Site-Wide Custom Events"
      
        data-label="Breadcrumbs"
      
        data-value="2"
      
        track-type="globalNav"
      
        track-name="breadcrumb"
      
        track-metadata-position="2"
      
        track-metadata-eventdetail=""
      
    >
    
        Platform
      
  </a>
  
    
  </li>
  
</ul>
    
  </div>
  
  
  
  <devsite-toc class="devsite-nav"
               depth="2"
               devsite-toc-embedded
               disabled>
  </devsite-toc>

  

  <div class="devsite-article-body clearfix
    ">

    
      
  <section class="devsite-landing-row devsite-landing-row-1-up devsite-landing-row-hero devsite-landing-row-50 devsite-landing-row-no-image-background android-decorative-media android-hero-primary"
           
           
           
    header-position="top"
  >
    <div class="devsite-landing-row-inner">

    
      

      

        <div class="devsite-landing-row-group">
        
          <div class="devsite-landing-row-item devsite-landing-row-item-no-media"
     
     
     
    description-position="bottom"
  >

  

    

    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        

        
    <h3 id="img-srcimageslandingandroid-logosvg-altandroid-logo-width265px"
        data-text="
"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        <img src="/images/landing/android-logo.svg" alt="Android logo" width="265px" />

      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            Android 12, the next version of Android, sets you up to take advantage of a range of new experiences, from people-centric UI to stronger protections for your users.

          </div>
        

        

        
          <div class="devsite-landing-row-item-buttons">
  

  
  <a href="https://developer.android.google.cn/12"
  
    class="button button-primary
      "
    
    
    >Learn about the latest release</a>

</div>
        
      </div>
    </div>
    
  

</div>
        
        </div>
      

    
    </div>
  </section>

  <section class="devsite-landing-row devsite-landing-row-1-up devsite-landing-row-50 devsite-landing-row-no-image-background devsite-landing-row-padding-medium android-promo"
           
           
           
    header-position="top"
  >
    <div class="devsite-landing-row-inner">

    
      

      

        <div class="devsite-landing-row-group">
        
          <div class="devsite-landing-row-item"
     
    background="grey"
  
     
     
    description-position="left"
  >

  

    
<div class="devsite-landing-row-item-media
            ">
  
    <figure class="devsite-landing-row-item-image">
  
    
  
  <img alt=""
       src="https://developer.android.google.cn/images/hero-assets/camera-x.svg"
       srcset=""
       
         sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px"
         loading="lazy"
       >
  
  
</figure>
  
</div>


    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        
          <div class="devsite-landing-row-item-labels">
  

  
  <span
  
    
      class="
             
             "
    
    
    >Introducing</span>

</div>
        

        
    <h3 id="camerax"
        data-text="CameraX"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        CameraX
      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            A new Jetpack library to help make camera app development easy and consistent across 90% of Android devices.

          </div>
        

        

        
          <div class="devsite-landing-row-item-buttons">
  

  
  <a href="https://developer.android.google.cn/training/camerax"
  
    class="button
      "
    
    
    >Learn more</a>

</div>
        
      </div>
    </div>
    
  

</div>
        
        </div>
      

    
    </div>
  </section>

  <section class="devsite-landing-row devsite-landing-row-2-up devsite-landing-row-no-image-background devsite-landing-row-padding-xlarge android-promo"
           
           
           
    header-position="top"
  >
    <div class="devsite-landing-row-inner">

    
      

      

        <div class="devsite-landing-row-group">
        
          <div class="devsite-landing-row-item"
     
    background="blue"
  
     
     
    description-position="left"
  >

  

    
<div class="devsite-landing-row-item-media
            ">
  
    <figure class="devsite-landing-row-item-image">
  
    
  
  <img alt=""
       src="https://developer.android.google.cn/images/spot-icons/android-11-dial.svg"
       srcset=""
       
         sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px"
         loading="lazy"
       >
  
  
</figure>
  
</div>


    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        
          <div class="devsite-landing-row-item-labels">
  

  
  <span
  
    
      class="
             
             "
    
    
    >Featured</span>

</div>
        

        
    <h3 id="android-11"
        data-text="Android 11"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        Android 11
      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            Android 11 brings a host of new features, from people-centric UI to a new controls space and more privacy features. Extend your apps with conversation notifications and bubbles, try one-time permissions, test with new compatibility toggles, and more.

          </div>
        

        

        
          <div class="devsite-landing-row-item-buttons">
  

  
  <a href="https://developer.android.google.cn/about/versions/11"
  
    class="button
      "
    
    
    >Learn more</a>

</div>
        
      </div>
    </div>
    
  

</div>
        
          <div class="devsite-landing-row-item"
     
    background="navy"
  
     
     
    description-position="left"
  >

  

    
<div class="devsite-landing-row-item-media
            ">
  
    <figure class="devsite-landing-row-item-image">
  
    
  
  <img alt=""
       src="https://developer.android.google.cn/images/kotlin/kotlin-for-android-hero.svg"
       srcset=""
       
         sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px"
         loading="lazy"
       >
  
  
</figure>
  
</div>


    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        
          <div class="devsite-landing-row-item-labels">
  

  
  <span
  
    
      class="
             
             "
    
    
    >Featured</span>

</div>
        

        
    <h3 id="kotlin"
        data-text="Kotlin"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        Kotlin
      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            Kotlin is already beloved by many Android developers for its combination of simplicity and power. So we're excited to make Kotlin development on Android a first-class experience.

          </div>
        

        

        
          <div class="devsite-landing-row-item-buttons">
  

  
  <a href="https://developer.android.google.cn/kotlin"
  
    class="button
      "
    
    
    >Learn more</a>

</div>
        
      </div>
    </div>
    
  

</div>
        
        </div>
      

    
    </div>
  </section>

  <section class="devsite-landing-row devsite-landing-row-1-up devsite-landing-row-large-headings devsite-landing-row-75 android-row-padding-top-xlarge-bottom-medium android-section-intro-full-width"
           
    background="grey"
  
           
           
    header-position="top"
  >
    <div class="devsite-landing-row-inner">

    
      

      

        <div class="devsite-landing-row-group">
        
          <div class="devsite-landing-row-item devsite-landing-row-item-no-media"
     
     
     
    description-position="bottom"
  >

  

    

    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        

        
    <h3 id="android-devices"
        data-text="Android devices"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        Android devices
      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            Android runs on devices of all shapes and sizes, providing you a vast opportunity for continued user engagement.

          </div>
        

        

        
      </div>
    </div>
    
  

</div>
        
        </div>
      

    
    </div>
  </section>

  <section class="devsite-landing-row devsite-landing-row-2-up devsite-landing-row-no-image-background devsite-landing-row-padding-medium android-promo android-item-padding-large"
           
    background="grey"
  
           
           
    header-position="top"
  >
    <div class="devsite-landing-row-inner">

    
      

      

        <div class="devsite-landing-row-group">
        
          <div class="devsite-landing-row-item"
     
    background="white"
  
     
     
    description-position="left"
  >

  

    
<div class="devsite-landing-row-item-media
            ">
  
    <figure class="devsite-landing-row-item-image">
  
    
  
  <img alt=""
       src="https://developer.android.google.cn/images/spot-icons/watch.svg"
       srcset=""
       
         sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px"
         loading="lazy"
       >
  
  
</figure>
  
</div>


    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        
          <div class="devsite-landing-row-item-labels">
  

  
  <span
  
    
      class="
             
             "
    
    
    >Products</span>

</div>
        

        
    <h3 id="wear-os-by-google"
        data-text="Wear OS by Google"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        Wear OS by Google
      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            Make every minute matter with Wear OS by Google. Smartwatches that keep users connected to their health, the people and info they care about, and the Google Assistant — all from the wrist.

          </div>
        

        

        
          <div class="devsite-landing-row-item-buttons">
  

  
  <a href="https://developer.android.google.cn/wear"
  
    class="button button-white
      "
    
    
    >Learn more</a>

</div>
        
      </div>
    </div>
    
  

</div>
        
          <div class="devsite-landing-row-item"
     
    background="white"
  
     
     
    description-position="left"
  >

  

    
<div class="devsite-landing-row-item-media
            ">
  
    <figure class="devsite-landing-row-item-image">
  
    
  
  <img alt=""
       src="https://developer.android.google.cn/images/spot-icons/tv.svg"
       srcset=""
       
         sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px"
         loading="lazy"
       >
  
  
</figure>
  
</div>


    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        
          <div class="devsite-landing-row-item-labels">
  

  
  <span
  
    
      class="
             
             "
    
    
    >Products</span>

</div>
        

        
    <h3 id="tv"
        data-text="TV"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        TV
      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            Build apps that let users experience your app's emersive content on the big screen. Users can discover your content recommendations on the home screen, and the leanback library provides APIs to help you build a great use experience for a remote control.

          </div>
        

        

        
          <div class="devsite-landing-row-item-buttons">
  

  
  <a href="https://developer.android.google.cn/tv"
  
    class="button button-white
      "
    
    
    >Learn more</a>

</div>
        
      </div>
    </div>
    
  

</div>
        
        </div>
      

    
    </div>
  </section>

  <section class="devsite-landing-row devsite-landing-row-1-up devsite-landing-row-50 devsite-landing-row-no-image-background devsite-landing-row-padding-medium android-promo android-item-padding-large"
           
    background="grey"
  
           
           
    header-position="top"
  >
    <div class="devsite-landing-row-inner">

    
      

      

        <div class="devsite-landing-row-group">
        
          <div class="devsite-landing-row-item"
     
    background="white"
  
     
     
    description-position="left"
  >

  

    
<div class="devsite-landing-row-item-media
            ">
  
    <figure class="devsite-landing-row-item-image">
  
    
  
  <img alt=""
       src="https://developer.android.google.cn/images/spot-icons/car.svg"
       srcset=""
       
         sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px"
         loading="lazy"
       >
  
  
</figure>
  
</div>


    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        
          <div class="devsite-landing-row-item-labels">
  

  
  <span
  
    
      class="
             
             "
    
    
    >Products</span>

</div>
        

        
    <h3 id="auto"
        data-text="Auto"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        Auto
      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            Write your apps for an in-car experience without having to worry about vehicle-specific hardware differences like screen resolution, software interfaces, knobs, and touch controls.

          </div>
        

        

        
          <div class="devsite-landing-row-item-buttons">
  

  
  <a href="https://developer.android.google.cn/auto"
  
    class="button button-white
      "
    
    
    >Learn more</a>

</div>
        
      </div>
    </div>
    
  

</div>
        
        </div>
      

    
    </div>
  </section>

  <section class="devsite-landing-row devsite-landing-row-2-up devsite-landing-row-no-image-background devsite-landing-row-padding-xlarge android-promo android-item-padding-large"
           
    background="grey"
  
           
           
    header-position="top"
  >
    <div class="devsite-landing-row-inner">

    
      

      

        <div class="devsite-landing-row-group">
        
          <div class="devsite-landing-row-item"
     
    background="white"
  
     
     
    description-position="left"
  >

  

    
<div class="devsite-landing-row-item-media
            ">
  
    <figure class="devsite-landing-row-item-image">
  
    
  
  <img alt=""
       src="https://developer.android.google.cn/images/spot-icons/interface.svg"
       srcset=""
       
         sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px"
         loading="lazy"
       >
  
  
</figure>
  
</div>


    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        
          <div class="devsite-landing-row-item-labels">
  

  
  <span
  
    
      class="
             
             "
    
    
    >Products</span>

</div>
        

        
    <h3 id="things"
        data-text="Things"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        Things
      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            Experiment with building apps for smart, connected devices that integrate with custom hardware peripherals.

          </div>
        

        

        
          <div class="devsite-landing-row-item-buttons">
  

  
  <a href="https://developer.android.google.cn/things"
  
    class="button button-white
      "
    
    
    >Learn more</a>

</div>
        
      </div>
    </div>
    
  

</div>
        
          <div class="devsite-landing-row-item"
     
    background="white"
  
     
     
    description-position="left"
  >

  

    
<div class="devsite-landing-row-item-media
            ">
  
    <figure class="devsite-landing-row-item-image">
  
    
  
  <img alt=""
       src="https://developer.android.google.cn/images/spot-icons/laptop.svg"
       srcset=""
       
         sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px"
         loading="lazy"
       >
  
  
</figure>
  
</div>


    
    <div class="devsite-landing-row-item-description"
         >

      

      <div class="devsite-landing-row-item-body">
        
          <div class="devsite-landing-row-item-labels">
  

  
  <span
  
    
      class="
             
             "
    
    
    >Products</span>

</div>
        

        
    <h3 id="chrome-os"
        data-text="Chrome OS"
        class="hide-from-toc no-link"
        tabindex="0">
      
    
        Chrome OS
      
  
    </h3>
  

        
          <div class="devsite-landing-row-item-description-content">
            You can now distribute your Android apps to Google Chrome OS devices, such as Chromebooks, through Google Play Store.

          </div>
        

        

        
          <div class="devsite-landing-row-item-buttons">
  

  
  <a href="https://developer.android.google.cn/chrome-os"
  
    class="button button-white
      "
    
    
    >Learn more</a>

</div>
        
      </div>
    </div>
    
  

</div>
        
        </div>
      

    
    </div>
  </section>

    

    
      <devsite-hats-survey class="nocontent"
        hats-id="onAFgYxTD0kxBYCLVTd0Z41p75CM"
        listnr-id="5207477"></devsite-hats-survey>
    
  </div>

  

  

  
  
</article>






  
<div class="devsite-content-data">
  <template class="devsite-thumb-rating-down-categories">
  []
  </template>
  <template class="devsite-thumb-rating-up-categories">
  []
  </template>
  
</div>
            
          </devsite-content>
        </main>
        <devsite-footer-promos class="devsite-footer">
          
            

<nav class="devsite-footer-promos nocontent" aria-label="Promotions">
  <ul class="devsite-footer-promos-list">
    
    <li class="devsite-footer-promo">
      <a href="//developers.google.cn/china/#follow-google-developers-on-wechat"
         class="devsite-footer-promo-title gc-analytics-event"
         data-category="Site-Wide Custom Events"
       
       
         data-modal-toggle="wechat"
       
         data-label="Footer WeChat Promo"
       >
        
        
        <img class="devsite-footer-promo-icon"
             src="/_static/android/images/logo-wechat.png"
             loading="lazy"
             alt="WeChat">
        
        WeChat
      </a>
      <div class="devsite-footer-promo-description">Follow Google Developers on WeChat</div>
    </li>
    
    <li class="devsite-footer-promo">
      <a href="//twitter.com/AndroidDev"
         class="devsite-footer-promo-title gc-analytics-event"
         data-category="Site-Wide Custom Events"
       
       
         data-label="Footer Twitter Promo"
       >
        
        
        <img class="devsite-footer-promo-icon"
             src="/_static/android/images/logo-twitter.svg"
             loading="lazy"
             alt="Twitter">
        
        Twitter
      </a>
      <div class="devsite-footer-promo-description">Follow AndroidDev on Twitter</div>
    </li>
    
    <li class="devsite-footer-promo">
      <a href="//www.youtube.com/user/androiddevelopers"
         class="devsite-footer-promo-title gc-analytics-event"
         data-category="Site-Wide Custom Events"
       
       
         data-label="Footer YouTube Promo"
       >
        
        
        <img class="devsite-footer-promo-icon"
             src="//www.gstatic.com/images/icons/material/product/2x/youtube_48dp.png"
             loading="lazy"
             alt="YouTube">
        
        YouTube
      </a>
      <div class="devsite-footer-promo-description">Check out Android Developers on YouTube</div>
    </li>
    
  </ul>
</nav>

          
        </devsite-footer-promos>
        <devsite-footer-linkboxes class="devsite-footer">
          
            
<nav class="devsite-footer-linkboxes nocontent" aria-label="Footer links">
  
  <ul class="devsite-footer-linkboxes-list">
    
    <li class="devsite-footer-linkbox ">
    <h3 class="devsite-footer-linkbox-heading no-link">More Android</h3>
      <ul class="devsite-footer-linkbox-list">
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="//www.android.com/"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 1)"
            >
          
            Android
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="//www.android.com/enterprise/"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 2)"
            >
          
            Enterprise
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="//www.android.com/security-center/"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 3)"
            >
          
            Security
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="//source.android.com/"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 4)"
            >
          
            Source
          
          </a>
          
        </li>
        
      </ul>
    </li>
    
    <li class="devsite-footer-linkbox ">
    <h3 class="devsite-footer-linkbox-heading no-link">Support</h3>
      <ul class="devsite-footer-linkbox-list">
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="//issuetracker.google.com/issues/new?component=190923&amp;template=841312"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 1)"
            >
          
            Report platform bug
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="//issuetracker.google.com/issues/new?component=192697"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 2)"
            >
          
            Report documentation bug
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="//support.google.com/googleplay/android-developer"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 3)"
            >
          
            Google Play support
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="https://google.qualtrics.com/jfe/form/SV_ewWXIoEVLBcyp7f??reserved=1&amp;utm_source=FooterLink&amp;Q_Language=en&amp;utm_medium=own_srch&amp;utm_campaign=developer.android.com&amp;utm_term=0&amp;utm_content=0&amp;productTag=reg&amp;campaignDate=may19&amp;pType=devel&amp;referral_code=gV420370"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 4)"
            >
          
            Join research studies
          
          </a>
          
        </li>
        
      </ul>
    </li>
    
    <li class="devsite-footer-linkbox ">
    <h3 class="devsite-footer-linkbox-heading no-link">Documentation</h3>
      <ul class="devsite-footer-linkbox-list">
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="/guide"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 1)"
            >
          
            Developer guides
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="/design"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 2)"
            >
          
            Design guides
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="/reference"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 3)"
            >
          
            API reference
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="/samples"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 4)"
            >
          
            Samples
          
          </a>
          
        </li>
        
        <li class="devsite-footer-linkbox-item">
          
          <a href="/studio/intro"
             class="devsite-footer-linkbox-link gc-analytics-event"
             data-category="Site-Wide Custom Events"
            
             data-label="Footer Link (index 5)"
            >
          
            Android Studio
          
          </a>
          
        </li>
        
      </ul>
    </li>
    
  </ul>
  
</nav>
          
        </devsite-footer-linkboxes>
        <devsite-footer-utility class="devsite-footer">
          
            

<div class="devsite-footer-utility nocontent">
  
  
  <nav class="devsite-footer-sites" aria-label="Other Google Developers websites">
    <a href="https://developers.google.cn/"
       class="devsite-footer-sites-logo-link gc-analytics-event"
       data-category="Site-Wide Custom Events"
       data-label="Footer Google Developers Link">
      <img class="devsite-footer-sites-logo"
           src="https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android/images/lockup-developers.svg"
           loading="lazy"
           alt="Google Developers">
    </a>
    <ul class="devsite-footer-sites-list">
      
      <li class="devsite-footer-sites-item">
        <a href="//developer.android.google.cn"
           class="devsite-footer-sites-link
                  gc-analytics-event"
           data-category="Site-Wide Custom Events"
         
           data-label="Footer Android Link"
         
         >
          Android
        </a>
      </li>
      
      <li class="devsite-footer-sites-item">
        <a href="//developer.chrome.com/home"
           class="devsite-footer-sites-link
                  gc-analytics-event"
           data-category="Site-Wide Custom Events"
         
           data-label="Footer Chrome Link"
         
         >
          Chrome
        </a>
      </li>
      
      <li class="devsite-footer-sites-item">
        <a href="//firebase.google.cn"
           class="devsite-footer-sites-link
                  gc-analytics-event"
           data-category="Site-Wide Custom Events"
         
           data-label="Footer Firebase Link"
         
         >
          Firebase
        </a>
      </li>
      
      <li class="devsite-footer-sites-item">
        <a href="//cloud.google.com"
           class="devsite-footer-sites-link
                  gc-analytics-event"
           data-category="Site-Wide Custom Events"
         
           data-label="Footer Google Cloud Platform Link"
         
         >
          Google Cloud Platform
        </a>
      </li>
      
      <li class="devsite-footer-sites-item">
        <a href="//developers.google.cn/products/"
           class="devsite-footer-sites-link
                  gc-analytics-event"
           data-category="Site-Wide Custom Events"
         
           data-label="Footer All products Link"
         
         >
          All products
        </a>
      </li>
      
    </ul>
  </nav>
  

  
  <nav class="devsite-footer-utility-links" aria-label="Utility links">
    
    <ul class="devsite-footer-utility-list">
      
      <li class="devsite-footer-utility-item
                 ">
        
        
        <a class="devsite-footer-utility-link gc-analytics-event"
           href="//policies.google.cn/privacy"
           data-category="Site-Wide Custom Events"
           data-label="Footer Privacy link"
         
           data-cookie-policy="//policies.google.cn/technologies/cookies"
         >
          Privacy
        </a>
        
      </li>
      
      <li class="devsite-footer-utility-item
                 ">
        
        
        <a class="devsite-footer-utility-link gc-analytics-event"
           href="/license"
           data-category="Site-Wide Custom Events"
           data-label="Footer License link"
         >
          License
        </a>
        
      </li>
      
      <li class="devsite-footer-utility-item
                 ">
        
        
        <a class="devsite-footer-utility-link gc-analytics-event"
           href="/distribute/marketing-tools/brand-guidelines"
           data-category="Site-Wide Custom Events"
           data-label="Footer Brand guidelines link"
         >
          Brand guidelines
        </a>
        
      </li>
      
      <li class="devsite-footer-utility-item
                 ">
        
        
        <span>ICP证合字B2-20070004号</span>
        
      </li>
      
      <li class="devsite-footer-utility-item
                 devsite-footer-utility-button">
        
        <span class="devsite-footer-utility-description">Get news and tips by email</span>
        
        
        <a class="devsite-footer-utility-link gc-analytics-event"
           href="/updates"
           data-category="Site-Wide Custom Events"
           data-label="Footer Subscribe link"
         >
          Subscribe
        </a>
        
      </li>
      
    </ul>
    
    
    
<devsite-language-selector>
  <devsite-select class="devsite-language-selector-menu">
    
    <select aria-label="Select your language preference."
            class="devsite-language-selector-select"
            name="language"
            track-name="click"
            track-type="languageSelector">
    
    
      <option value="en"
              lang="en"
            
              selected="selected"
            >
        English
      </option>
    
      <option value="id"
              lang="id"
            >
        Bahasa Indonesia
      </option>
    
      <option value="de"
              lang="de"
            >
        Deutsch
      </option>
    
      <option value="es"
              lang="es"
            >
        Español
      </option>
    
      <option value="es_419"
              lang="es_419"
            >
        Español – América Latina
      </option>
    
      <option value="fr"
              lang="fr"
            >
        Français
      </option>
    
      <option value="pt_br"
              lang="pt_br"
            >
        Português – Brasil
      </option>
    
      <option value="vi"
              lang="vi"
            >
        Tiếng Việt
      </option>
    
      <option value="tr"
              lang="tr"
            >
        Türkçe
      </option>
    
      <option value="ru"
              lang="ru"
            >
        Русский
      </option>
    
      <option value="th"
              lang="th"
            >
        ภาษาไทย
      </option>
    
      <option value="zh_cn"
              lang="zh_cn"
            >
        中文 – 简体
      </option>
    
      <option value="zh_tw"
              lang="zh_tw"
            >
        中文 – 繁體
      </option>
    
      <option value="ja"
              lang="ja"
            >
        日本語
      </option>
    
      <option value="ko"
              lang="ko"
            >
        한국어
      </option>
    
    </select>
  </devsite-select>
</devsite-language-selector>

  </nav>
</div>
          
        </devsite-footer-utility>
        <devsite-panel></devsite-panel>
      </section></section>
    <devsite-sitemask></devsite-sitemask>
    
<devsite-snackbar 
                  data-cookie-policy="//policies.google.cn/technologies/cookies"
                  ></devsite-snackbar>

    <devsite-tooltip blocked-link></devsite-tooltip>
    <devsite-heading-link></devsite-heading-link>
    <devsite-analytics enable-analytics-iframe>
      
        <script type="application/json" analytics>[{"gaid": "UA-5831155-3", "dimensions": {"dimension3": false, "dimension5": "en", "dimension8": false, "dimension4": "Android Developers", "dimension1": "Signed out", "dimension6": "en"}, "metrics": {"ratings_count": "metric2", "ratings_value": "metric1"}}]</script>
<script type="application/json" gtm>{"parameters": {"freeTrialEligibleUser": "False", "internalUser": "False", "language": {"machineTranslated": "False", "requested": "en", "served": "en"}, "pageType": "article", "projectName": "Android Developers", "signedIn": "False", "tenant": "android_china", "recommendations": {"sourcePage": "", "sourceType": 0, "sourceRank": 0, "sourceIdenticalDescriptions": 0, "sourceTitleWords": 0, "sourceDescriptionWords": 0, "experiment": ""}}, "tags": ["GTM-KMSWPCJ"]}</script>
      
    </devsite-analytics>
    
    
<android-fully-clickable
    target="
        .android-featured-resources .devsite-landing-row-item,
        .android-index-pathway .devsite-landing-row-item,
        .android-option-pathway-primary .devsite-landing-row-item,
        .android-option-pathway-secondary .devsite-landing-row-item,
        .android-option-pathway-secondary-small .devsite-landing-row-item,
        .android-option-pathway-tertiary .devsite-landing-row-item,
        .android-option-pathway-tertiary-small .devsite-landing-row-item,
        .android-promo .devsite-landing-row-item,
        .android-quick-link,
        .android-samples .devsite-card-wrapper,
        .fully-clickable"
    watch=".android-samples, devsite-content"></android-fully-clickable>
    <script nonce="kh/NsEANqcGgxmLx+i1eFkFAev/8tR">
  
  (function(d,e,v,s,i,t,E){d['GoogleDevelopersObject']=i;
    t=e.createElement(v);t.async=1;t.src=s;E=e.getElementsByTagName(v)[0];
    E.parentNode.insertBefore(t,E);})(window, document, 'script',
    'https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android/js/app_loader.js', '[3,"en",null,"/js/devsite_app_module.js","https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7","https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android","https://android-dot-google-developers.gonglchuangl.net",1,null,["/_pwa/android/manifest.json","https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/images/video-placeholder.svg","https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android/images/favicon.png","https://www.gstatic.cn/devrel-devsite/prod/v0a713fec70a4b4c54311265d5142e962747a0e45a24063467564a2765c008ac7/android/images/lockup.svg","https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700&display=swap"],1,null,[1,6,8,12,14,17,18,21,25,40,45,50,63,70,75,76,80,87,91,92,93,97,98,100,101,102,103,104,105,107,108,109,110,111,112,113,115,117,118,120,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,141,142,144,147,148,149,150,151,152,154,159,161,165],"AIzaSyAP-jjEJBzmIyKR4F-3XITp8yM9T1gEEI8","AIzaSyB6xiKGDR5O3Ak2okS4rLkauxGUG7XP0hg","developer.android.google.cn"]')
  
</script>
    <devsite-a11y-announce></devsite-a11y-announce>
  </body>
</html>